<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Book</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="container center-content">
    <h2>Add a New Book</h2>

    <form action="/add" method="POST">
      <a href="/" class="back-btn" title="Go Back">✖</a>
      <input type="text" name="title" placeholder="Book_name" required />
      <input type="text" name="author" placeholder="Author" required />
      <input type="text" name="isbn" placeholder="ISBN" required />
      <button type="submit" class="btn">Add Book</button>
      
    </form>
  </div>
</body>
</html>
