<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Details</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="book">
    <h2>Book Added</h2>
    <div class="book_details">

    <p><strong>Book_name :  </strong> <%= book.title %></p>
    <p><strong>Author :  </strong> <%= book.author %></p>
    <p><strong>ISBN :  </strong> <%= book.isbn %></p>
     </div>
    <a href="/" class="btn-1">Back to Home</a>
  </div>
</body>
</html>
