<!DOCTYPE html>
<html lang="en">
<head>
  <title>Library System</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  
      <img class="img-1" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggTu7DsNwN06djRJalUksB-4Ev7Od5gqiLK3tGUianJl7nbaRoUcOpxpOSlfVMmt4l2bBQejcsUfEqP_AJp0j_fZDzXftR7fz_wZ2-SBFA1NaaFVBSVQAyMZR6NJO14iRApHY7mW5NYbg/w1200-h630-p-k-no-nu/Library.png">
      <!-- <h1 class="asan">ASAN ALI</h1> -->
  <div class="container center-content">
    <h1>Welcome to the Library</h1>

    <div class="button-group">
      <a href="/add" class="btn">Add Book</a>
      <a href="/search" class="btn">Search Book</a>
     <a href="/books" class="btn">All Books</a>
 
    </div>
  </div>

</body>
</html>
